.website-background {
    background-color: rgb(24, 28, 29); 
}

#result {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: lighter;
}

#percentResult {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: lighter;
}

h1 {
    color: rgb(12, 61, 196);
    text-shadow: -0.5px 1px lightblue;
    text-align: center;
}

p {
    color: rgb(12, 61, 196);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(219, 218, 219);
}

.calculator-1 {
    flex: 1;
    order: 1;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.calculator-button {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.calculator-alert {
    margin-top: 20px;
}

.page-link {
    color: darkgoldenrod;
    text-decoration: none;
    margin-left: 15px;
    background-color: rgb(24, 28, 29);
    display: inline-block;
    padding: 2px;
}