.website-background {
    background-color: rgb(24, 28, 29); 
}

#result {
    color: red; 
}

h1 {
    color: rgb(12, 61, 196);
    text-shadow: -2px 2px lightblue;
    text-align: center;
}

p {
    color: rgb(12, 61, 196);
    font-size: 20px;
    font-weight: 500;
}

div {
    color: white;
}

.page-link {
    color: darkgoldenrod;
    text-decoration: none;
    margin-left: 15px;
    background-color: rgb(24, 28, 29);
    display: inline-block;
    padding: 2px;
}

.result {
    font-family: fantasy;
    font-size: 28px;
    font-weight: lighter;
}